<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/templates/template.xhtml">

	<ui:define name="content">
		<h:panelGrid style="margin-top: 10%; margin-left: 35px; height: 28vh;">
			<h:panelGrid style="width: 500px; margin-top: -8%;">
				<h:outputText style="font-size: 40px; font-weight: bold;"
					value="Selecione um arquivo para prosseguir com a assinatura ;)" />
			</h:panelGrid>
			<h:panelGrid
				style="width: 200px; margin-left: 85%; margin-top: -26%;">
				<h:outputLabel value="Dica!"
					style="font-size: 20px; font-weight: bold;" />
				<h:panelGrid style="width:800px; font-size: 10px;">
					<h:outputText style="text-align: justify !important;"
						value="Para enviar um arquivo, selecione o botão abaixo 'Procurar' e em seguida, 
										escolha o arquivo que você deseja assinar." />
					<h:panelGroup>
						<p:fileUpload mode="advanced" multiple="false" label="Procurar"
							chooseIcon="pi pi-paperclip" allowTypes="/(\.|\/)(pdf|PDF)$/"
							fileLimit="100" update="messages btpAnexo"
							invalidSizeMessage="Tamanho máximo suportado 100 MB"
							invalidFileMessage="Somente arquivos com extenção PDF são suportados!"
							listener="#{assinarDocumentoBean.enviarArquivo}" />
					</h:panelGroup>
				</h:panelGrid>
			</h:panelGrid>
		</h:panelGrid>

		<p:dataTable id="btpAnexo" var="btpAnexo"
			style="width: 80%; margin-left: auto; margin-right: auto;"
			value="#{assinarDocumentoBean.lstBtpAnexoAssinatura}">
			<f:facet name="header">Documentos enviados</f:facet>
			<p:column headerText="Nome arquivo">
				<h:outputText value="#{btpAnexo.anaDscNome}" />
			</p:column>
			<p:column headerText="Data uploado documento">
				<h:outputText value="#{btpAnexo.anaDatDataEnvio}" />
			</p:column>
			<p:column headerText="Data assinatura documento">
				<h:outputText
					value="#{btpAnexo.anaDatAssinatura != null ? btpAnexo.anaDatAssinatura : '-'}" />
			</p:column>
			<p:column headerText="Ações">
				
			</p:column>
		</p:dataTable>




	</ui:define>
</ui:composition>
