@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');

*{
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}

:root{
    --bg-color: #1e1e1e;
    --bg-color-footer: #161616;
    --text-color: #000000;
    --main-color: #05dbdd;
    --text-footer: #555;
    --button-color: #00ff40;
}

.login-register ion-icon {
  color: #ffffff !important;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
  	padding: 0;
}

body {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
  	padding: 0;
}

.logo{
    display: flex;
    margin-right: 5%;
    margin-left: 15%;
}

.logo img{
    align-items: center;
    width: 75px;
    height: 75px;
}

.nav {
	display: flex;
	top: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed !important;
    background-color: #1e1e1e;
    width: 100%;
    height: 90px;
    z-index: 1000;
	align-items: center;
	overflow-x: hidden;
  	padding: 0;
}

.navegador {
    display: flex;
    margin-left: 15%;
    width: 900px;
    height: 10px;
}

.navegador a{
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px;
    transition: all .50s ease;
}

.navegador a:hover{
    color: var(--button-color) !important;
}

.navegador ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.login-register {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 30%;
    width: 500px;
    height: 30px !important;
	justify-content: center;
	overflow-x: hidden;
	margin: 0;
  	padding: 0;
}

.login-register a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--button-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.login-register a:hover{
    color: var(--main-color);
}

.login-register li {
    display: flex;
    align-items: center;
}

button.ui-button {
     background: #1e1e1e;
     color: #01f301;
     border: none;
     overflow: hidden;
     z-index: 999;
     border-radius: 8px;
}

button.ui-button:hover {
     background: #01f301;
     color: #000000;
     border: none;
     font-weight: bold;
}

body .ui-fileupload .ui-fileupload-buttonbar .ui-button {
	background: #1e1e1e;
	color: #01f301;
	border: none;
	overflow: hidden;
	z-index: 999;
	border: none !important;
	border-radius: 8px;
}

body .ui-fileupload .ui-fileupload-buttonbar .ui-button:hover {
	background: #01f301;
	color: #000000;
	border: none;
	font-weight: bold;
}

.ui-commandlink:hover {
	color: #ffffff !important;
}

body .ui-progressbar .ui-progressbar-value {
  border: 0 none;
  margin: 0;
  background: #00ff40;
  border-radius: 4px;
}

.btn-info {
	margin-left: 81%;
	margin-top: 30px;
}

#contato {
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 12rem;
    justify-content: center;
    background-color: var(--bg-color) !important;
    padding: 2rem;
    margin-top: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.meio-contato h3{
    color: var(--button-color);
    font-size: 18px;
    margin-bottom: 10px;
}

.meio-contato h5{
    background-color: var(--bg-color);
    font-size: 15.5px;
    font-weight: 400;
    color: var(--text-footer);
    transition: all .35s ease;
    margin-bottom: 6px;
}

.meio-contato li{
    background-color: var(--bg-color-);
    margin-bottom: 6px;
}

.meio-contato li a{
    color: var(--text-footer);
    font-weight: 400;
    transition: all .35s ease;
    margin-bottom: 6px;
    background-color: var(--bg-color);
}

.meio-contato li a:hover{
    color: var(--button-color);
}

.last-text{
    background-color: var(--bg-color-footer);
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: -3rem;
}

.last-text p{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: var(--text-footer);
}

.last-text span{
    color: var(--button-color);
    font-size: 12px;
}

body .ui-panel .ui-panel-titlebar {
    border: 1px solid #dee2e6;
    border-bottom: 0 none;
    background: #1e1e1e !important;
    color: #fff !important;
    padding: 1rem;
    font-weight: 700;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

body .ui-panel .ui-panel-content {
    border: 1px solid #dee2e6;
    background: #e7e7e7 !important;
    color: #495057 !important;
    padding: 1rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

body .ui-inputfield {
    color: #495057 !important;
    background: rgb(200, 200, 200) !important;
    padding: 0.5rem 0.5rem;
    border: 1px solid #ced4da;
    outline: 0 none;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
}

body .ui-inputfield.ui-state-focus {
	border-color: #00ff40 !important;
	outline: 0 none;
	box-shadow: 0 0 0 0.2em #00ff40;
}	

body .ui-inputfield.ui-state-hover {
	border-color: #00ff40 !important;
}

body .ui-datatable .ui-datatable-header {
	background: #1e1e1e;
	border: 1px solid #e9ecef;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-width: 1px 0 1px 0;
	color: #fff;
	padding: 1rem 1rem;
	font-weight: 600;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

body .ui-datatable thead th {
	background: #2b2a332e;
	color: #000;
	padding: 1rem 1rem;
	border: 1px solid #e9ecef;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-width: 0 0 1px 0;
	text-align: center;
	box-sizing: content-box;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

body .ui-datatable .ui-datatable-header {
	background: #1e1e1ea3;
	border: 1px solid #e9ecef;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-width: 1px 0 1px 0;
	color: #fff;
	padding: 1rem 1rem;
	font-weight: 600;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-align: center;
}

body .ui-fileupload .ui-fileupload-buttonbar {
  border: 1px solid #dee2e6;
  background: #2b2a332e;
  color: #495057;
  padding: 1rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

body .ui-datatable .ui-datatable-data>tr>td {
	padding: 1rem 1rem;
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-width: 0 0 1px 0;
	background-color: #d9d9da7a;
}

.ui-datatable table {
  border-collapse: unset;
  width: 100%;
  table-layout: auto;
  text-align: center;
}