<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="/resources/templates/template.xhtml">
	<ui:define name="content">
		<h:panelGrid style="margin-left: 5%; margin-top: 40vh;">
			<p:panel header="Login">
				<h:panelGrid columns="2">
					<h:outputLabel for="login" value="Usuário" />
					<p:inputText id="login" value="#{autenticarUsuarioBean.btpUsuarioLogin.usuDscLogin}"
						required="true" placeholder="Nome de Usuário"
						style="margin-left: 10px;"
						requiredMessage="Nome de usuário é obrigatório!" />

					<h:outputLabel for="login" value="Senha" />
					<p:password id="senha" value="#{autenticarUsuarioBean.btpUsuarioLogin.usuDscSenha}"
						requiredMessage="Senha é obrigatória!" required="true"
						style="margin-left: 10px;" feedback="true"
						placeholder="************" />

					<f:facet name="footer">
						<p:commandButton value="Entrar"
							style="float: right; margin-top:2%; "
							action="#{autenticarUsuarioBean.logar()}" />
					</f:facet>
				</h:panelGrid>
			</p:panel>
		</h:panelGrid>

		<h:panelGrid style="width: 400px; margin-top: -14%; margin-left: 40%;">
			<h1>
				<ion-icon name="sparkles-outline"></ion-icon>
				Falta pouco para você desfrutar de tudo que o eSignDocs pode
				proporcionar!
			</h1>
			<h:panelGrid style="width: 800px;">
				<h:outputText style="text-align: justify !important;"
					value="Sua Passagem para o Futuro da Assinatura Digital
					Gratuita! está a um passo para transformar a maneira como você
					lida com documentos. Com apenas alguns cliques, você estará pronto
					para explorar um mundo de conveniência e eficiência. Chegou a hora
					de simplificar e acelerar os seus processos de
					assinatura, tornando-os tão simples quanto possível. Junte-se a nós
					e descubra como o eSignDocs está revolucionando a forma como
					lidamos com documentos online. Está quase lá!" />
			</h:panelGrid>
		</h:panelGrid>
		<h:panelGrid style="margin-left: 75%; margin-top: 5%;">
			<h:outputLabel value="Ainda não possui cadastro?"
				style="font-size: 14px; font-weight: bold;" />
			<p:commandButton value="Cadastrar-se" style="margin-left: 30%;" />
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>
