<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="/resources/templates/template.xhtml">
	<ui:define name="content">
		<h:panelGrid style="margin-left: 50%; margin-top: 15%;">
			<p:panel header="Registrar-se">
				<h:panelGrid columns="4">
					<h:outputLabel for="nome" value="Nome Completo" />
					<p:inputText id="nome" value="#{autenticarUsuarioBean.btpUsuarioCadastro.usuDscNome}"
						required="true" placeholder="Nome completo"
						style="margin-left: 10px;" requiredMessage="Nome é obrigatório!" />

					<h:outputLabel for="email" value="Email" style="margin-left: 10px;" />
					<p:inputText id="email" value="#{autenticarUsuarioBean.btpUsuarioCadastro.usuDscEmail}"
						required="true" placeholder="seuemail@example.com"
						style="margin-left: 10px;" requiredMessage="Email é obrigatório!" />

					<h:outputLabel for="telefone" value="Telefone" />
					<p:inputMask id="telefone" value="#{autenticarUsuarioBean.btpUsuarioCadastro.usuNumTelefone}"
						style="margin-left: 10px;" mask="(99) 99999-9999"
						placeholder="(00) 00000-0000" />

					<h:outputLabel for="cpf" value="CPF" style="margin-left: 10px;" />
					<p:inputMask id="cpf" value="#{autenticarUsuarioBean.btpUsuarioCadastro.usuDscCpf}"
						style="margin-left: 10px;" mask=" 999.999.999-99"
						placeholder="000.000.000-00" />

					<h:outputLabel for="datNascimento" value="Data Nascimento" />
					<p:inputMask id="datNascimento" value="#{autenticarUsuarioBean.btpUsuarioCadastro.usuDatNascimento}"
						style="margin-left: 10px;" mask=" 99/99/9999"
						placeholder="01/01/2000" />

					<h:outputLabel for="dscLogin" value="Login"
						style="margin-left: 10px;" />
					<p:inputText id="dscLogin" value="#{autenticarUsuarioBean.btpUsuarioCadastro.usuDscLogin}"
						required="true" placeholder="Nome de usuário"
						style="margin-left: 10px;"
						requiredMessage="Nome de usuário é obrigatório!" />

					<h:outputLabel for="senha" value="Senha" />
					<p:password id="senha" value="#{autenticarUsuarioBean.btpUsuarioCadastro.usuDscSenha}"
						requiredMessage="Senha é obrigatória!" required="true"
						style="margin-left: 10px;" feedback="true"
						placeholder="************" />

					<h:outputLabel for="endereco" value="Endereço"
						style="margin-left: 10px;" />
					<p:inputText id="endereco" value="#{autenticarUsuarioBean.btpUsuarioCadastro.usuDscEndereco}"
						placeholder="Rua. Av. example, 999" style="margin-left: 10px;" />

					<h:outputLabel for="cidade" value="Cidade" />
					<p:inputText id="cidade" value="#{autenticarUsuarioBean.btpUsuarioCadastro.usuDscCidade}"
						placeholder="cidade" style="margin-left: 10px;" />

					<h:outputLabel for="bairro" value="Bairro"
						style="margin-left: 10px;" />
					<p:inputText id="bairro" value="#{autenticarUsuarioBean.btpUsuarioCadastro.usuDscBairro}"
						placeholder="bairro" style="margin-left: 10px;" />

					<h:outputLabel for="uf" value="UF" />
					<p:inputText id="uf" value="#{autenticarUsuarioBean.btpUsuarioCadastro.usuDscUf}"
						placeholder="XX" style="margin-left: 10px;" />

					<f:facet name="footer">
						<p:commandButton value="Registar"
							style="float: right; margin-top:2%; "
							action="#{autenticarUsuarioBean.cadastrar()}" />
					</f:facet>
				</h:panelGrid>
			</p:panel>
		</h:panelGrid>

		<h:panelGrid style="width: 350px; margin-left: 2%; margin-top: -24%;">
			<h1>
				<ion-icon name="sparkles-outline"></ion-icon>
				Descubra o Futuro da Assinatura de Documentos com o eSignDocs
			</h1>
			<h:panelGrid style="width: 650px;">
				<h:outputText style="text-align: justify !important;"
					value="Registre-se no eSignDocs e desfrute de 
					todos os recursos que nossa plataforma tem a oferecer. Simplifique seus processos 
					de assinatura e gerenciamento de documentos. Junte-se à nossa comunidade e descubra
					 como estamos revolucionando a maneira como lidamos com assinatura de documentos online. 
					 Está quase lá!" />
			</h:panelGrid>
		</h:panelGrid>
		<h:panelGrid style="margin-left: 32%; margin-top: 7%;">
			<h:outputLabel value="Já possui cadastro?"
				style="font-size: 14px; font-weight: bold;" />
			<p:commandButton value="Entrar" style="margin-left: 30%;" />
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>
